<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: header(Applicant-Display-Form)">
</head>
<body>
<h2 align="center" class="m-2" th:text="#{success}"></h2>
<div th:insert="template.html :: topmenu"></div>
<div class="container">
    <div class="row justify-content-center m-5">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td><strong th:text="#{name}">Name:</strong></td>
                    <td><span th:text="${ApplicantRequest.name}"></span></td>
                </tr>
                <tr>
                    <td><strong th:text="#{age}">Age:</strong></td>
                    <td><span th:text="${ApplicantRequest.age}"></span></td>
                </tr>
                <tr>
                    <td><strong th:text="#{address}">Address:</strong></td>
                    <td><span th:text="${ApplicantRequest.address}"></span></td>
                </tr>
                <tr>
                    <td><strong th:text="#{skills}">Skills:</strong></td>
                    <td><span th:text="${ApplicantRequest.skills}"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>
</html>