<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: header(Applicant-Registration-Form)">
</head>
<body>
<div th:insert="template.html :: topmenu"></div>
<header>
    <h1 align="center" class="m-4" th:text="#{require}"></h1>
</header>
<div class="container">
    <div class="row justify-content-center  m-5">
        <div class="col-6">
            <form class="row g-3" action="#" th:action="@{/applicants/save}" th:object="${ApplicantRequest}"
                  method="post">
                <div class="col-md-12 form-group">
                    <label for="inputName" class="form-label" th:text="#{name}">Applicant's name</label>
                    <input type="text" class="form-control" id="inputName" th:field="*{name}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

                </div>
                <div class="col-md-12 form-group">
                    <label for="inputAge" class="form-label" th:text="#{age}">Age</label>
                    <input type="text" class="form-control" id="inputAge" th:field="*{age}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>

                </div>
                <div class="col-md-12  form-group">
                    <label for="inputAddress" class="form-label" th:text="#{address}">Address</label>
                    <input type="text" class="form-control" id="inputAddress" th:field="*{address}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('address')}"
                         th:errors="*{address}"></div>

                </div>
                <div class="col-12  form-group">
                    <label for="inputSkills" class="form-label" th:text="#{skills}">Skills</label>
                    <input type="text" class="form-control" id="inputSkills" th:field="*{skills}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('skills')}" th:errors="*{skills}"></div>
                </div>
                <div class="col-12 form-group">
                    <button type="submit" class="btn btn-primary" th:text="#{addApplicant}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>