<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template.html :: header(Applicants)">
</head>

<body>
<div th:insert="template.html :: topmenu"></div>
<div>
    <header>
        <h1 align="center" class="m-3" th:text="#{applicants}"></h1>
    </header>
</div>
<div class="container">
    <div class="row justify-content-center m-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col" th:text="#{name}"></th>
                <th scope="col" th:text="#{age}"></th>
                <th scope="col" th:text="#{address}"></th>
                <th scope="col" th:text="#{skills}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="applicant: ${applicants}">
                <td th:text="${applicant.id}">Id</td>
                <td th:text="${applicant.name}">Name</td>
                <td th:text="${applicant.age}">Age</td>
                <td th:text="${applicant.address}">Address</td>
                <td th:text="${applicant.skills}">Phone</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>