<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: header(Job-Display-Form)">
</head>
<body>
<div th:insert="template.html :: topmenu"></div>
<h2 align="center" class="m-2" th:text="#{success}"></h2>
<div class="container">
    <div class="row justify-content-center m-5">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td><strong th:text="#{employerName}">Employer's name:</strong></td>
                    <td><span th:text="${jobRequest.employerName}"></span></td>
                </tr>
                <tr>
                    <td><strong th:text="#{title}">Job title:</strong></td>
                    <td><span th:text="${jobRequest.jobTitle}"></span></td>
                </tr>
                <tr>
                    <td><strong th:text="#{description}">Job description:</strong></td>
                    <td><span th:text="${jobRequest.jobDescription}"></span></td>
                </tr>
                <tr>
                    <td><strong th:text="#{salary}">Salary:</strong></td>
                    <td><span th:text="${jobRequest.salary}"></span></td>
                </tr>
            </table>
        </div>
    </div>

</div>
</body>
</html>