<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: header(Job-Registration-Form)">
</head>
<body>
<div th:insert="template.html :: topmenu"></div>
<header>
    <h1 align="center" class="m-4" th:text="#{require}"></h1>
</header>

<div class="container">
    <div class="row justify-content-center  m-5">
        <div class="col-6">
            <form class="row g-3" th:action="@{/jobs/save}" th:object="${jobRequest}" method="post">
                <div class="col-md-12">
                    <label for="inputName" class="form-label" th:text="#{employerName}">Employer's name</label>
                    <input type="text" class="form-control" id="inputName" th:field="*{employerName}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('employerName')}"
                         th:errors="*{employerName}"></div>

                </div>
                <div class="col-md-12">
                    <label for="inputTitle" class="form-label" th:text="#{address}">Address</label>
                    <input type="text" class="form-control" id="inputTitle" th:field="*{jobTitle}">
                </div>
                <div class="col-12">
                    <label for="inputDescription" class="form-label" th:text="#{description}">Description</label>
                    <input type="text" class="form-control" id="inputDescription" th:field="*{jobDescription}">
                </div>
                <div class="col-12">
                    <label for="inputSalary" class="form-label" th:text="#{salary}">Salary</label>
                    <input type="text" class="form-control" id="inputSalary" th:field="*{salary}">
                    <div class="alert- alert-warning" th:if="${#fields.hasErrors('salary')}"
                         th:errors="*{salary}"></div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" th:text="#{addJob}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>