<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: header(Jobs)">
</head>
<body>
<div th:insert="template.html :: topmenu"></div>
<div>
    <header>
        <h1 align="center" class="m-3" th:text="#{jobs}"></h1>
    </header>
</div>
<div class="container">
    <div class="row justify-content-center m-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col" th:text="#{employerName}"></th>
                <th scope="col" th:text="#{title}"></th>
                <th scope="col" th:text="#{description}"></th>
                <th scope="col" th:text="#{salary}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job: ${jobs}">
                <td th:text="${job.id}">id</td>
                <td th:text="${job.employerName}">Employer's name</td>
                <td th:text="${job.jobTitle}">title</td>
                <td th:text="${job.jobDescription}">description</td>
                <td th:text="${job.salary}">Salary</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>