<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="template.html :: header(HomePage)">
</head>
<body>
<div th:insert="template.html :: topmenu"></div>
<div>
    <h1 align="center" th:text="#{welcome}">Thông tin tuyển dụng nhân sự</h1>
</div>

<!--<div class="container">-->
<!--    <div class="row justify-content-center m-5">-->
<!--        <div class="col-4">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <h1>Nhà Tuyển Dụng</h1>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <a th:href="@{/employers/add}">Thêm nhà tuyển dụng</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <a th:href="@{/employers}">Danh sách nhà tuyển dụng</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row justify-content-center  m-5">-->
<!--        <div class="col-4">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <h1>Việc Làm</h1>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <a th:href="@{/jobs/add}">Tạo việc làm</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <a th:href="@{/jobs}">Danh sách việc làm</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row justify-content-center  m-5">-->
<!--        <div class="col-4">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <h1>Ứng Viên</h1>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <a th:href="@{/applicants/add}">Thêm ứng viên</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <a th:href="@{/applicants}">Danh sách ứng viên</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class=" d-flex justify-content-center mt-5">
    <button type="button" class="btn btn-primary" th:text="#{switch-en}"
            onclick="window.location.href='/?lang=en'"></button>
    <button type="button" class="btn btn-primary" th:text="#{switch-vn}"
            onclick="window.location.href='/?lang=vn'"></button>
</div>

</body>
</html>