<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: header(Employer-Registration-Form)">
</head>
<body>
<div th:insert="template.html :: topmenu"></div>
<header>
    <h1 align="center" class="m-4" th:text="#{require}"></h1>
</header>
<div class="container">
    <div class="row justify-content-center  m-5">
        <div class="col-6">
            <form class="row g-3" th:action="@{/employers/save}" th:object="${employerReq}" method="post">
                <div class="col-md-12 form-group">
                    <label for="inputName" class="form-label" th:text="#{employerName}">Employer's name</label>
                    <input type="text" class="form-control" id="inputName" th:field="*{name}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="col-md-12 form-group">
                    <label for="inputAddress" class="form-label" th:text="#{address}">Address</label>
                    <input type="text" class="form-control" id="inputAddress" th:field="*{address}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('address')}"
                         th:errors="*{address}"></div>
                </div>
                <div class="col-md-12 form-group">
                    <label for="inputPhone" class="form-label" th:text="#{phone}">Phone</label>
                    <input type="text" class="form-control" id="inputPhone" th:field="*{phone}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                </div>
                <div class="col-12 form-group">
                    <button type="submit" class="btn btn-primary" th:text="#{addEmployer}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>