<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: header(Employer-Display-Form)">
</head>
<body>
<div th:insert="template.html :: topmenu"></div>
<h2 align="center" class="m-2" th:text="#{success}"></h2>
<div class="container">
    <div class="row justify-content-center m-5">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td><strong>ID:</strong></td>
                    <td><span th:text="${employerReq.id}"></span></td>
                </tr>
                <tr>
                    <td><strong th:text="#{employerName}">Employer's name:</strong></td>
                    <td><span th:text="${employerReq.name}"></span></td>
                </tr>
                <tr>
                    <td><strong th:text="#{address}">Address:</strong></td>
                    <td><span th:text="${employerReq.address}"></span></td>
                </tr>
                <tr>
                    <td><strong th:text="#{phone}">Phone:</strong></td>
                    <td><span th:text="${employerReq.phone}"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>
</html>